/******************/
/* Parallax base */
/******************/

.parallax {
  height: 1080px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
  -webkit-perspective-origin-x: 100%;
  perspective-origin-x: 100%;
}

.parallax__taller__group {  
  position: relative;
  height: 33em; /* Adjust this to change the height of grouped layers */
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.parallax__shorter__group {  
  position: relative;
  height: 20em;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;  
  -webkit-transform-origin-x: 100%;
  transform-origin-x: 100%;
}

/*.parallax__layer--fore {
  -webkit-transform: translateZ(90px) scale(.7);
  transform: translateZ(90px) scale(.7);
  z-index: 1;
}*/

.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
}

.parallax__layer--back {
  -webkit-transform: translate3d(0, 0,-190px) scale(2);
  transform: translate3d(0, 0, -190px) scale(2);
  z-index: 3;
}

.parallax__layer--deep {
  -webkit-transform: translateZ(-600px) scale(3);
  transform: translateZ(-600px) scale(3);
  z-index: 2;
}

/******************/
/* Parallax styles */
/******************/

body, html {
  overflow: hidden;
}

* {
  margin:0;
  padding:0;
}

body {
  font: 100% / 1.5 Arial;
}

.parallax {
  font-size: 200%;
}

/*.title {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}*/

/******************/
/* Group Styles */
/******************/

#group0, #baseHeading {
  z-index: 5;
}

#baseHeading .parallax__layer--base {
  color: white;
  background-color: transparent;
}

#baseHeading .parallax__layer--back {
  background: url("../img/dummy_bg_0.jpg");
  top: -50%;
}

#group0 .parallax__layer--base {
  color: green;
  background-color: #201010;
}

#group1 {
  z-index: 4;
}

#group1 .parallax__layer--back { 
  background: url("../img/dummy_bg_1.jpg");
  background-color: black;
  background-repeat: no-repeat;
  color: white;
}

#group2 {
  z-index: 5;
}

#group2 .parallax__layer--base {     
  background: black;
  color: white;
}

#group3 {
  z-index: 4;
}

#group3 .parallax__layer--back {
  background: url("../img/dummy_bg_2.jpg");
  color: blue;
}

#group3 .parallax__layer--base {
  background: rgb(50, 50, 50);
  opacity: 0;
}

#group4 {
  z-index: 5;
}

#group4 .parallax__layer--base {
  background: black;
  color: white;
}

/*#group5 {
  z-index: 0;
}

#group5 .parallax__layer--back{
  background: url("http://dummy-images.com/abstract/dummy-1280x960-DesiccationCracks.jpg");
}*/







